{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/basic.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
    <title>Document</title>
</head>
<body>
    {% include "topbar.html" %}


    {% block content %}

    {% endblock %}

    <script src="{% static 'vendor/bootstrap.js' %}"></script>
    <script>
        

        $(document).ready(function(){

            
            $('.navbar .btn').on('click', function(){
                $('#top-search').show(400)
            })


        })
    </script>
</body>
</html>