{% extends "base.html" %}
{% load static %}

{% block content %}


    <div class="d-flex p-5 align-items-stretch justify-content-center cards-index">
        <a class="col-6 col-md-3 mr-5 p-0" href="#" id="caracter">
            <div class="card">
                <div class="card-title">
                    <p class="h4 text-center">
                        Escolha as caracteristicas
                    </p>
                </div>
                <img class="img-fluid" src="{% static 'img/gato.jpg' %}">
            </div>
        </a>
        <a class="col-6 col-md-3 ml-5 p-0" href="#" id="random">
            <div class="card">
                <div class="card-title">
                    <p class="h4 text-center">
                        Aleatório
                    </p>
                </div>
                <img class="img-fluid" src="{% static 'img/gato2.jpg' %}">
            </div>
        </a>
    </div>

    <div class="gatos-lista card">
        <h3 class="card-title display-5 px-3 py-2 rounded bg-primary text-white">Alguns gatinhos</h3>

        <div class="card-content">
            <div class="bg-grey d-flex justify-content-between px-3">
                <a class="btn btn-primary"> < </a>
                <p>Páginas: {{paginator.page_range}}</p>
                <a class="btn btn-primary" href="?page={{page_obj.next_page_number}}"> > </a>
                
            
            </div>

            
            
            {% if gatos %}
                
                {% for gato in gatos %}
                    <p class="h3 my-5 text-center">{{gato.nome}}</p>

                {% endfor %}

            {% else %}

            

            {% endif %}
        </div>
    </div>
    

{% endblock %}