<header class="navbar shadow-sm px-3">
    <button class="navbar-toggler d-md-none">
        <i class="fa fa-menu"></i>
    </button>
    <a class="navbar-brand" href="{% url 'app:index' %}">
        <i class="fa fa-paw"></i> Adota!
    </a>
    <div class="col-6 ml-auto p-2 d-flex justify-content-end">
        
        <input class="w-100 collapse pl-2" id="top-search" placeholder="Ex.: Gato listrado">
        <button href="#" class="btn btn-search">
            <i class="fa fa-search text-primary"></i>
        </button>


    </div>
    

</header>