
/*                NAV BAR                     */
.navbar-brand {
    font-size: 30px
}

.cards-index .card {
    transition: .3s;
}
.cards-index .card:hover p{
    text-decoration: none;
}
.cards-index .card:hover {
    box-shadow: 0 0 17px rgba(0,0,0, .08)
}

.cards-index a:hover {
    text-decoration: none;
}

@media (max-width: 767px) {

    .h4{
        font-size: 1em;

    }
}